.header {
    background-color: $primary;
    position: fixed;
    z-index: $zindex-sticky;
    left: 0;
    right: 0;
    top: 0;
    transition: box-shadow 300ms ease;

    &_shadow {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    .navbar {
        padding: 0px;
        .nav-item:last-child {
            padding-right: 0px;
        }

        .navbar-brand img {
            margin-top: 25px;
        }

        &-nav {
            .nav-link {
                line-height: 1.2;
                color: $white;
            }

            .nav-item {
                padding-right: 24px;
                &-features {
                    padding-right: 30px;
                }
                &-download {
                    padding-right: 20px;
                }
                &-compatibility {
                    margin-right: -7px;
                }
            }
        }
    }

    .fa-bars {
        font-size: 35px;
        margin-top: 30px;
        color: $white;
    }

    @include media-breakpoint-up(lg) {
        .navbar {
            .nav-link {
                transition: padding-top 300ms ease;
                position: relative;
                padding-top: 40px;

                &::before {
                    content: "";
                    display: block;
                    height: 5px;
                    background-color: $white;
                    position: absolute;
                    top: 0;
                    width: 0%;
                    margin-left: -7px;
                    transition: width ease-in-out 400ms;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        &.header_shadow {
            .navbar {
                &-brand img {
                    margin-top: 0;
                }

                .nav-link {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}
