.section-six{
            background-color: #de5d5d;
            min-height: 723px;
            .button-appstore{
                display: flex;
                justify-content: space-between;
                margin-top: -4px;
               
            }
            .btn-theme {
                color: #fff;
                background-color: transparent;
                border: 2px solid #fff;
                margin-right: 15px;
            }
            .btn-theme:hover {
                color: #000;
                background-color: rgba(177, 177, 177, 0.514);
                border-color: #fff;
            }
          
            .appstore{
                min-width: 257px;
                height: 77px;
                background-color: rgba(6,53,80,0.0);
                border: 3px solid #ffffff;
                border-radius: 5px;
                margin-top: 46px;
                margin-right: 31px;
                
                .text-store{
                    font-family: 'Varela Round';
                    font-size: 30px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #ffffff;
                    display: flex;
                    justify-content: center ;
                    max-width: 257px;
                    margin-top: -45px;
                    margin-left: 68px;
                }
               
                .icon-store{
                    max-width: 52px;
                    height: 52px;
                    margin-top: 5px;
                    margin-left: 10px;
                }
            }
            .content-section-six{
                &-icon{
                   margin-left: 32px;
                    max-width: 402px;
                    .app-icon{
                        position: relative;
                        z-index: 7;
                        margin-left: 34px;
                        margin-top: 227px;
                    }
                   
                    .shadow-icon{
                       margin-top: -244px;
                       margin-left: 45px;
                    }
                }
                &-text{
                    margin-top: 169px;
                    padding-left: 50px;
                }
            }
            .text-title{
                font-family: 'Montserrat';
                font-size: 48px;
                line-height: 1.2;
                font-weight: 500;
                color: #ffffff;
            }
            .text-name{
                font-family: 'Varela Round';
                font-size: 24px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
                margin-top: 16px;
            }
            @media(max-width:1110px){
                .button-appstore{
                    flex-wrap: wrap;
                }
            }
           
            @media(max-width:1199px){
                .content-section-six-icon{
                    max-width: 330px;
                }
            }
            @media(max-width:991px){
                .content-section-six-icon{
                   margin-left: -74px;
                }
            }
            @media(max-width:810px){
                .content-section-six-text{
                   margin-right: 0px;
                }
            }
            @media(max-width:635px){
                .content-section-six-text{
                   padding-left: 0px;
                }
            }
            @media(max-width:575px){
                .content-section-six-icon{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -110px;
                }
                .content-section-six-text{
                    max-width: 250px;
                    margin-top: -40px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }