     .section-five{
         background-color: white;
      
         .section-five-title-text{
            max-width: 470px;
             margin-left: 67px;
             margin-top: 68px;
             
             .title-section-five{
                font-family: 'Montserrat';
                font-size: 47px;
                line-height: 1.2;
                font-weight: 500;
                color: #f06464;
             }
             .text-section-five{
                font-family: 'Varela Round';
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #666666;
                margin-top: 21px;
                margin-left: 4px;
             }
             @media (max-width:1000px){
                 .section-five-title-text{
                     margin-right: -130px;
                 }
             }
           

         }
         @media (max-width:499px){
            .section-five-title-text{
                margin-left: 0px;
            }
        }
        }