.section-two{
        padding-top: 109px;
       /* margin-top: -200px;*/
        background-color: white;
        z-index: 1000;
        position: relative;
        .row{
            margin-top:62px;
            margin-left:-40px;
            margin-right: -40px;
        }
        .caption_why{
            font-family: 'Montserrat';
            font-size: 48px;
            line-height: 1.2;
            font-weight: 600;
            color: #3a3a3a;
            text-align: center;
            margin-top: -10px;
        }
        .overview-item{
            text-align: center;
            &_title{
                font-family: 'Montserrat';
                font-size: 18px;
                line-height: 26px;
                font-weight: 600;
                color: #666666;
                margin-top: 36px;
                margin-right: 16px;
            }
            &_text{
                font-family: 'Varela Round';
                font-size: 16px;
                padding-left: 40px;
                padding-right: 40px;
                line-height: 26px;
                color: #666666;
                margin-right: 18px;
                margin-top: -4px;
                padding-bottom: 30px;
            }
        }
     }