.section-seven{
    background-color: #e7e7e7;
    min-height: 444px;
  
    .container{
        &-section-seven{
            padding-top: 86px;
            padding-left: 68px;
            &-title{
                font-family: 'Montserrat';
                font-size: 24px;
                line-height: 1.2;
                font-weight: 400;
                color: #666666;
            }
            &-line{
                max-width: 970px;
                height: 3px;
                background-color: #cbcbcb;
                margin-top: 22px;
            }
            &-phones{
                display: flex;
                justify-content: space-between;
                margin-top: 32px;
                padding-right: 59px;
                flex-wrap: wrap;
              
                .ios{
                    max-width: 445px;
                    &-title{
                        font-family: 'Montserrat';
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #666666;
                        
                    }
                    &-text{
                        font-family: 'Varela Round';
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #666666;
                    }
                    &-foto{
                        margin-top: 26px;
                        margin-left: 2px;
                        #foto-ios{
                            width: 36%;
                            display: block;
                            height: auto;
                        }
                    }
                }
                .android{
                    max-width: 445px;
                    margin-right: 45px;
                    &-title{
                        font-family: 'Montserrat';
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #666666;
                        
                    }
                    &-text{
                        font-family: 'Varela Round';
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #666666;
                    }
                    &-foto{
                        max-width: 378px;
                        margin-top: 33px;
                        margin-left: 2px;
                        #foto-android{
                            width: 100%;
                            display: block;
                            height: auto;
                        }
                    }
                  
                }
                @media(max-width:1199px){
                    .android{
                        margin-top: 40px;
                    }
                }
                @media(max-width:767px){
                    .android-foto{
                        max-width: 450px;
                    }
                }
                @media(max-width:540px){
                    .android-foto{
                        max-width: 550px;
                    }
                }
            }
        }
    }
}